{% load dropdown_extra %}

<ul class="collapsible expandable">
  {% for g in widget.groupby_list %}
  <li>
    <div class="collapsible-header">{{g.name}}</div>
    <div class="collapsible-body">
      {% for c in widget.choices %}
        {% with widget.choices|get_index:c as ind %}
          {% with widget.object_list|get_val:ind as indexed_value %}
            {% if indexed_value.category == g %}
              <p>
                <label>
                  <input type="checkbox" name="subjects" value={{c.0}}>
                  <span>{{c.1}}</span>
                </label>
              </p>
            {% endif %}
          {% endwith %}
        {% endwith %}
      {% endfor %}
    </div>
  </li>
  {% endfor %}
</ul>
